<link href="http://localhost/rsv/modules/home/css/bootstrap.css" rel="stylesheet">
<link href="http://localhost/rsv/modules/home/css/dashboard.css" rel="stylesheet">
<link href="http://localhost/rsv/modules/home/css/font-awesome.css" rel="stylesheet">
<!-- script src="http://localhost/rsv/modules/home/js/firstPhaseController.js"></script -->
<script src="http://localhost/rsv/modules/home/js/bootstrap.min.js"></script>
<script src="http://localhost/rsv/modules/home/js/jquery.js"></script>
<style>
   th, td {
    padding: 5px;
    text-align: left;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("i.navside").click(function(e){
		$("i.navside").removeClass("selected");
		$(this).addClass("selected");	
	});
});
function toggle_visibility(id) {
var e = document.getElementById(id);
if (e.style.display == 'block' || e.style.display=='') 
{
	e.style.display = 'none';
	e.className = "col-sm-3 col-md-2 sidebar";
}else{ 
     e.style.display = 'block';
     e.className = "width-30x col-sm-3 col-md-2 sidebar"
   }
}	
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#"><img src="http://localhost/rsv/modules/home/images/logo.png" alt="" width="128px" height="34px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<li>
				<h1 style="color:white;">{{theTime}}</h1>
			</li>
			<li>	
			<i class="fa fa-user ui-left ui-user-icon" ></i>
			<a href="#/login" class="ui-left">Log Out</a>
			</li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
		<div class="row">
		<center><p class="toggle-bar" onclick="toggle_visibility('hideMe')"><span class="responsive-icon"><i class="fa fa-bars fa-2x ui-cursor ui-right margin-right-7x"></i></span></p>
        </center>
		<div class="col-sm-3 col-md-2 sidebar" id="hideMe">
			  <ul class="nav nav-sidebar left-tree">
				<li>   			  
				<center> <i ng-click="tabData(1)" class="fa fa-3x fa-home navside img-responsive "></i> </center>	
				</li>
				<li>
				<center> <i ng-click="tabData(2)"  class="fa fa-3x fa-list-ul navside img-responsive selected  "></i> </center>
				</li>
				<li>
			    <center> <i ng-click="tabData(3)"  class="fa fa-3x fa-bar-chart-o navside img-responsive "></i> </center>		
				</li>
				<li>
			   <center> <i ng-click="tabData(4)"  class="fa fa-3x fa-cog navside img-responsive "></i> </center>
				</li>
				<li>
			   <center> <i ng-click="tabData(5)" class="fa fa-3x fa fa-user-plus navside img-responsive "></i> </center>
				</li>
				<li>
			   <center> <i ng-click="tabData(6)"  class="fa fa-3x fa-save navside img-responsive "></i> </center>
				</li>
			  </ul>  
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="showIconData == 1">
				<h1 class="page-header">Security Gate Pass</h1>
				<div class="col-md-12">	
						<div id="controller" class="tab-pane fade in active" style="text-align:justify">
							<div class="">
								<div>
								 <label>Vehicle no</label>
								 <input type="text" name="vehicleno" ng-model="vehicleno">
								</div>
								<div>
								 <label>Purchase order no</lbel>
								 <input type="text" name="pono" ng-model="pono">
								</div>
								<div>
								 <label>Invoice no</label>
								 <input type="text" name="invoiceno" ng-model="invoiceno">
								</div>
								<div>
								 <label>Invoice Quantity</label>
								 <input type="text" name="quantity" ng-model="quantity">
								</div>
								<div>
									<input type="button" ng-click="searchPO()" value="Search">
								</div>
							</div>
						</div>
					<br>
					<br>
					<div ng-show="showPOData">
						<div class="bs-example">	
							<ul class="nav nav-tabs">
								<li class="active"><a><span><strong>PO NO. : {{displayValue}}</strong></span></a></li>
							</ul>		
						</div>
						 <div class="tab-content">
							<div class="tab-pane fade in active table-height-240x">
								 <table class="table hover-table">
								 <thead>
								   <tr>
									<th>
										Sr.No.
									</th>
									<th>
										Product Name
									</th>
									<th>
										Quantity
									</th>
									<th>
										Quantity Checks
									</th>
								   </tr>
								</thead>
								<tbody ng-show="selectedPOData.length">
								   <tr ng-repeat="spd in selectedPOData">
									  <td></td>
									  <td>{{spd.productName}}</td>
									  <td>{{spd.qty}}</td>
									  <td><input type="checkbox" ng-model="qtyChk"></td>
								   </tr>
								</tbody>
								<tbody ng-show="!selectedPOData.length">
								   <tr>
									  <td colspan="3" style="text-align:center">No Data Found</td>
								   </tr>
								</tbody>
								</table>
								
							  </div>
							  <div>
								 <label>Triplicate Copy</label>
								 <div>
									<input type="radio" value="yes" ng-model="quantity">Yes
									<input type="radio" value="no" ng-model="quantity">No
								 </div>
								 <!-- if triplicate copy yes -->
								 <div>
									<label>Original for buyer</label>
									<input type="checkbox" ng-model="originalBuyerYes">
								 </div>
								 <div>
									<label>Duplicate for transpoter</label>
									<input type="checkbox" ng-model="transportYes">
								 </div>
								 <div>
									<label>Triplicate for seller</label>
									<input type="checkbox" ng-model="sellerYes">
								 </div>
								 <div>
									<label>Safty measures</label>
									<input type="radio" value="yes" ng-model="quantity">Yes
									<input type="radio" value="no" ng-model="quantity">No
								 </div>
								 <div style="text-align:center;">
									<!-- //todo: generate gatepass with following details 
												- name of transpoter
												- vehicle no
												- description of material (short)
									-->
									<input type="button" name="submit" value="Print Gate Pass" ng-click="generateGatePass()">
								 </div>
								</div>
							</div >		
							<h1>test</h1>
							First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
					 </div>         
						
							
					 </div>           
				</div>
		<div ng-show="showIconData == 6" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<h1 class="page-header">Inventory/Store Department</h1>
				<h2>Show Added material for previous qty wise</h2>
			</div>
		</div>	
        <div ng-show="showIconData == 2" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<h1 class="page-header">Logistics Department</h1>
				<div id="controller" class="tab-pane fade in active" style="text-align:justify">
							<div class="" ng-show="!showTable">
								<div>
								 <label>PO No</label>
								 <input type="text" name="store_poNo" ng-model="store_poNo">
								</div>
								<div>
									<input type="button" ng-click="searchPOStore()" value="Search">
								</div>
							</div>
							<div id="materialQuantity" ng-show="showTable">
								<div class="table-responsive" ng-show="!showCheckList">
									<table class="table">
										<tr>
											<th>
												Sr No
											</th>
											<th>
												Matrial Name
											</th>
											<th>
												Matrial Rate
											</th>
											<th>
												Material Note
											</th>
											<th>
												Checked
											</th>
										</tr>
										<tr ng-repeat="storepro in productData track by $index">
											<td>
												{{$index+1}}
											</td>
											<td>
												{{storepro.product_name}}
											</td>
											<td>
												Rs.{{storepro.product_rate}}/-
											</td>
											<td>
												<input type="text" ng-model="storepro.product_note">
											</td>
											<td>
												<input type="checkbox" ng-model="storepro.product_check">
											</td>
										</tr>
									</table>
								</div>
								<div>
									<input type="button" ng-click="generateGRN()" value="Generate GRN">
								</div>
							
							<div id="GRNReceipt" ng-show="showCheckList">
								<div>
									<div class="">
										<div>
										 <label>GRN</label>
										 <label>001</label>
										</div>
										<div>
										 <label>PO NO.</label>
										 <label>1</label>
										</div>
										<div>
											Materials
										</div>
										<div class="table-responsive">
											<table class="table">
												<tr>
													<th>
														Sr No
													</th>
													<th>
														Matrial Name
													</th>
													<th>
														Matrial Rate
													</th>
													<th>
														Material Note
													</th>
												</tr>
												<tr ng-repeat="storepro in productData track by $index">
													<td>
														{{$index+1}}
													</td>
													<td>
														{{storepro.product_name}}
													</td>
													<td>
														Rs.{{storepro.product_rate}}/-
													</td>
													<td>
														{{storepro.product_note}}
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div>
										<input type="button" ng-click="send()" value="Send Mail">
										<input type="button" ng-click="print()" value="Print">
									</div>
								</div>
							</div>
							</div>
						</div>
				<table>
				</table>
			</div>
		</div>
		<div ng-show="showIconData == 3" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<img class="img-responsive" src="http://localhost/rsv/modules/home/images/under-construction.jpg">
			</div>
		</div>
		<div ng-show="showIconData == 4" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<img class="img-responsive" src="http://localhost/rsv/modules/home/images/under-construction.jpg">
			</div>
		</div>
		<div ng-show="showIconData == 5" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<img class="img-responsive" src="http://localhost/rsv/modules/home/images/under-construction.jpg">
			</div>
		</div>
	</div>