<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pavilion Data</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/dashboard.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/pavilionListingController.js"></script>
    <script src="js/bootstrap.min.js"></script>
<style>
   th, td {
    padding: 5px;
    text-align: left;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("i.navside").click(function(e){
		$("i.navside").removeClass("selected");
		$(this).addClass("selected");	
	});
});
function toggle_visibility(id) {
var e = document.getElementById(id);
if (e.style.display == 'block' || e.style.display=='') 
{
	e.style.display = 'none';
	e.className = "col-sm-3 col-md-2 sidebar";
}else{ 
     e.style.display = 'block';
     e.className = "width-30x col-sm-3 col-md-2 sidebar"
   }
}	
</script>
  </head>
  <body  ng-app = "devices"  ng-controller="DeviceController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#"><img src="./images/logo.png" alt="Pavilion" width="128px" height="34px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<li>	
			<i class="fa fa-user ui-left ui-user-icon" ></i>
			<a href="#" class="ui-left">Log Out</a>
			</li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
		<div class="row">
		<center><p class="toggle-bar" onclick="toggle_visibility('hideMe')"><span class="responsive-icon"><i class="fa fa-bars fa-2x ui-cursor ui-right margin-right-7x"></i></span></p>
        </center>
		<div class="col-sm-3 col-md-2 sidebar" id="hideMe">
			  <ul class="nav nav-sidebar left-tree">
				<li>   			  
				<center> <i ng-click="tabData(1)" class="fa fa-3x fa-home navside img-responsive "></i> </center>	
				</li>
				<li>
				<center> <i ng-click="tabData(2)"  class="fa fa-3x fa-list-ul navside img-responsive selected  "></i> </center>
				</li>
				<li>
			    <center> <i ng-click="tabData(3)"  class="fa fa-3x fa-bar-chart-o navside img-responsive "></i> </center>		
				</li>
				<li>
			   <center> <i ng-click="tabData(4)"  class="fa fa-3x fa-cog navside img-responsive "></i> </center>
				</li>
				<li>
			   <center> <i ng-click="tabData(5)" class="fa fa-3x fa fa-user-plus navside img-responsive "></i> </center>
				</li>
			  </ul>  
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="showIconData">
				<h1 class="page-header"></h1>
				<div class="col-md-12">	
					<div class="bs-example">	
						<ul class="nav nav-tabs" id="myTab">
							<li class="active"><a data-toggle="tab" href="#controller" ng-click="tabClick('controller')">Controller</a></li>
							<li><a data-toggle="tab" href="#Disk" ng-click="tabClick('disk')">Disk</a></li>
							<li><a data-toggle="tab" href="#Volume" ng-click="tabClick('volume')">Volumes</a></li>
							<li><a data-toggle="tab" href="#Hosts" ng-click="tabClick('host')">Hosts</a></li> 
						</ul>		
					</div>
					 <div class="tab-content" id="myTabContent">
						<div id="controller" class="tab-pane fade in active">
                            <div class="table-height-250x">
                                  <table class="table hover-table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Version</th>
                                      <th>Uptime</th>
                                      <th>IP</th>
                                      <th>Serial</th>
									  <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody ng-show="controllerData.length">
                                    <tr ng-repeat="cd in controllerData" ng-click="showData(cd,'controller')" ng-class="{'selected':cd.id==selectedControllerData.id}">
                                      <td>{{cd.id}}</td>
                                      <td>{{cd.version}}</td>
                                      <td>{{cd.uptime}}</td>
                                      <td>{{cd.ip}}</td>
                                      <td>{{cd.serial}}</td>
                  					  <td>{{cd.status}}</td>
                                    </tr>
                                  </tbody>
                                  <tbody ng-show="!controllerData.length">
                                    <tr>
                                      <td colspan="5"><center>No Data Found</center></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
						<div id="Disk" class="tab-pane fade">
                            <div class="table-height-250x">
                                <table class="table hover-table">
                                  <thead>
                                    <tr>
									  <th>Name</th>
                                      <th>Serial</th>
                                      <th>Manufacturer</th>
                                      <th>Model</th>
                                      <th>Status</th>
                                      <th>Size</th>
                                      <th>Used</th>
									  <th>Available</th>
                                    </tr>
                                  </thead>
                                  <tbody ng-show="disksData.length">
                                    <tr ng-repeat="dd in disksData" ng-click="showData(dd,'disk')" ng-class="{'selected':dd.id==selectedDiskData.id}">
                                      <td>{{dd.id}}</td>
									  <td>{{dd.serial}}</td>
                                      <td>{{dd.manufacturer}}</td>
                                      <td>{{dd.model}}</td>
                                      <td>{{dd.status}}</td>
                                      <td>{{dd.size}}GB</td>
                                      <td>{{dd.used}}GB</td>
									  <td>{{dd.available}}GB</td>
                                    </tr>
                                  </tbody>
                                  <tbody ng-show="!disksData.length">
                                    <tr>
                                      <td colspan="7"><center>No Data Found</center></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
						<div id="Volume" class="tab-pane fade">
                                <div class="table-height-250x">
                                <table class="table hover-table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Status</th>
                                      <th>Block Size</th>
                                      <th>Size</th>
                                      <th>MinIOPS</th>
                                      <th>Protocol</th>
                                    </tr>
                                  </thead>
                                  <tbody ng-show="volumesData.length">
                                    <tr ng-repeat="vd in volumesData" ng-click="showData(vd,'volume')"  ng-class="{'selected':vd.id==selectedVolumeData.id}">
                                      <td>{{vd.id}}</td>
                                      <td>{{vd.status}}</td>
                                      <td>{{vd.blocksize}}GB</td>
                                      <td>{{vd.size}}GB</td>
                                      <td>{{vd.minIOPS}}</td>
                                      <td>{{vd.protocol}}</td>
                                    </tr>
                                  </tbody>
                                  <tbody ng-show="!volumesData.length">
                                    <tr>
                                      <td colspan="6"><center>No Data Found</center></td>
                                    </tr>
                                  </tbody>
                                </table>
                               </div>
					       </div>				
					<div id="Hosts" class="tab-pane fade">
                        <div class="table-height-250x">
                            <table class="table hover-table">
							  <thead>
								<tr>
								  <th>Name</th>
                                  <th>Status</th>
								</tr>
							  </thead>
							  <tbody ng-show="hostsData.length">
								<tr ng-repeat="hd in hostsData" ng-click="showData(hd,'host')"  ng-class="{'selected' :hd.id==selectedHostData.id}">
								  <td>{{hd.id}}</td>
                                  <td>{{hd.status}}</td>
								</tr>
                              </tbody>
                              <tbody ng-show="!hostsData.length">
                                    <tr>
                                      <td colspan="2"><center>No Data Found</center></td>
                                    </tr>
                                  </tbody>
							</table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div ng-show="showControllerData">
                        <div class="bs-example">	
                            <ul class="nav nav-tabs">
                                <li class="active"><a><span class="ui-captilize"><strong>{{selectedControllerDevice}}</strong></span>&nbsp;:&nbsp;{{selectedControllerData.id}}</a></li>
                            </ul>		
                        </div>
                         <div class="tab-content">
                            <div class="tab-pane fade in active table-height-240x">
                                 <table class="table hover-table">
                                   <tr>
                                      <td><strong>Temp</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedControllerData.temp}}°C</td>
                                   </tr>
                                   <tr>
                                    <td><strong>UUID:</strong>&nbsp;:&nbsp;</td>
                                    <td>{{selectedControllerData.uuid}}</td> 
                                   </tr>
                                </table>
                              </div>
                            </div >		
                     </div>         
                     <div ng-show="showDiskData">
                        <div class="bs-example">	
                            <ul class="nav nav-tabs">
                                <li class="active"><a><span class="ui-captilize"><strong>{{selectedDiskDevice}}</strong></span>&nbsp;:&nbsp;{{selectedDiskData.id}}</a></li>
                            </ul>		
                        </div>
                         <div class="tab-content">
                            <div class="tab-pane fade in active table-height-240x">
                                 <table class="table hover-table">
                                   <tr>
								      <td><strong>WWN</strong>&nbsp;:&nbsp;</td>
									  <td>{{selectedDiskData.wwn}}</td>
								   </tr>
								    <tr>
                                      <td><strong>Firmware-Version</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedDiskData.firware_version}}</td> 
                                    </tr>
                                    <tr>
                                      <td><strong>UUID</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedDiskData.uuid}}</td>	 
                                    </tr>	
                                </table>
                              </div>
                            </div >		
                     </div>
                     <div ng-show="showVolumeData">
                        <div class="bs-example">	
                            <ul class="nav nav-tabs">
                                <li class="active"><a><span class="ui-captilize"><strong>{{selectedVolumeDevice}}</strong></span>&nbsp;:&nbsp;{{selectedVolumeData.id}}</a></li>
                            </ul>		
                        </div>
                         <div class="tab-content">
                            <div class="tab-pane fade in active table-height-240x">
                                 <table class="table hover-table">
                                   <tr>
                                      <td><strong>Serial</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedVolumeData.serial}}</td>
                                   </tr>
                                   <tr>
                                      <td><strong>Model</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedVolumeData.model}}</td>
                                   </tr>
                                   <tr>
                                    <td><strong>WWN</strong>&nbsp;:&nbsp;</td>
                                    <td>{{selectedVolumeData.wwn}}</td> 
                                   </tr>
                                   <tr>
                                      <td><strong>Max IOPS</strong>&nbsp;:&nbsp;</td>
                                      <td>{{selectedVolumeData.maxIOPS}}</td>
                                   </tr>
                                   <tr>
                                    <td><strong>Brust IOPS</strong>&nbsp;:&nbsp;</td>
                                    <td>{{selectedVolumeData.burstIOPS}}</td> 
                                   </tr>
                                </table>
                              </div>
                            </div >		
                     </div>         
                     <div ng-show="showHostData">
                        <div class="bs-example">	
                            <ul class="nav nav-tabs">
                                <li class="active"><a><span class="ui-captilize"><strong>{{selectedHostDevice}}</strong></span>&nbsp;:&nbsp;{{selectedHostData.id}}</a></li>
                            </ul>		
                        </div>
                         <div class="tab-content">
                            <div class="tab-pane fade in active table-height-240x">
                                 <table class="table hover-table">
                                   <tr>
                                    <td><strong>UUID</strong>&nbsp;:&nbsp;</td>
                                    <td>{{selectedHostData.uuid}}</td> 
                                   </tr>
                                </table>
                              </div>
                            </div >		
                     </div>           
				</div>
			</div>
		</div>
	</div>
        <div ng-show="!showIconData" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="wrapper col-md-12">
				<img class="img-responsive" src="./images/under-construction.jpg">
			</div>
		</div>	
	</div>		
  </body>
</html>
