/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  float:left;
  position: absolute;
  left: 0;
  top: 51px;
  z-index: 1000;
  background-color: #f5f5f5;
  bottom:0;
}
.width-30x {
  width:30%;
}
.toggle-bar{
  display: block;
}
.responsive-icon {
  border-radius: 3px;
  padding: 10px 5px 0;
}
@media (min-width: 768px) {
.toggle-bar{
  display: none;
}

.width-30x{
   width:16.666666%;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block !important;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
                float:left;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  
}
.navside {
  cursor:pointer;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.ui-left {
	float:left;
}

.left-tree li {
	margin-top:15%;
	margin-bottom:15%;
}

.selected {
	background-color: #b7b7b7;
}
.ui-user-icon {
	float: left; 
	background-color: white; 
	margin-top: 20%;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}

.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
} 

.table-cursor tr td {
    cursor: pointer;
}

.ui-captilize {
    text-transform: capitalize;
}

.hover-table td{ 
		padding:7px; border:#F5F5F5 1px solid;
}	

.hover-table tr:hover {
          background-color:#d3d3d3;
		  cursor: pointer;
}
.table-height-250x {
  height:250px;
  overflow:auto;
}
.table-height-240x {
  max-height: 240px;
  overflow: auto;
}

.ui-right {
 float:right;
}
 
.margin-right-7x {
 margin-right:7.5%;
}
 
.ui-cursor {
 cursor:pointer;
}
 
